<section id="wrapper" class="signup-register">
  <div class="login-box">
    <div class="white-box">
      <form [formGroup]="signUpForm" novalidate class="form-horizontal form-material" (ngSubmit)="signUp(signUpForm.value, signUpForm.valid)">
        <h3 class="box-title m-b-20">Sign Up</h3>
        <div class="form-group">
          <div class="col-xs-12">
            <input type="text" class="form-control" formControlName="fname" placeholder="First Name">
            <small [hidden]="signUpForm.controls.fname.valid || (signUpForm.controls.fname.pristine && !submitted)" class="text-danger">
              First Name is required.
            </small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input type="text" class="form-control" formControlName="lname" placeholder="Last Name">
            <small [hidden]="signUpForm.controls.lname.valid || (signUpForm.controls.lname.pristine && !submitted)" class="text-danger">
              Last Name is required.
            </small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input type="text" class="form-control" formControlName="surname" placeholder="Surname">
            <small [hidden]="signUpForm.controls.surname.valid || (signUpForm.controls.surname.pristine && !submitted)" class="text-danger">
              Surname is required.
            </small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input type="text" class="form-control" formControlName="mobile" placeholder="Mobile">
            <small [hidden]="signUpForm.controls.mobile.valid || (signUpForm.controls.mobile.pristine && !submitted)" class="text-danger">
              Mobile is required.
            </small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input type="text" class="form-control" formControlName="email" placeholder="Email">
            <small [hidden]="signUpForm.controls.email.valid || (signUpForm.controls.email.pristine && !submitted)" class="text-danger">
              Email is invalid.
            </small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <textarea class="form-control" formControlName="address" placeholder="Address"></textarea>
            <small [hidden]="signUpForm.controls.address.valid || (signUpForm.controls.address.pristine && !submitted)" class="text-danger">
              Address is required.
            </small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="picker-input form-control pull-right" [ngModel]="toDate | date: 'short'" [(dateTimePicker)]="toDate" [theme]="'#000'" [mode]="'dropdown'" name="toDate" readonly formControlName="dob" placeholder="Date of Birth">
            <small [hidden]="signUpForm.controls.dob.valid || (signUpForm.controls.dob.pristine && !submitted)" class="text-danger">
              Date of Birth is required.
            </small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input type="file" class="form-control" placeholder="Profile Picture" (change)="fileChangeEvent($event)">
            <small [hidden]="signUpForm.controls.photo.valid || (signUpForm.controls.photo.pristine && !submitted)" class="text-danger">
              Profile Picture is required.
            </small>
            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" [resizeToWidth]="128" format="png" (imageCropped)="imageCropped($event)"></image-cropper>
            <img [src]="croppedImage" />
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-lg-12">
            <a class="col-lg-6" [routerLink]="['/login']">Sign In</a>
            <button type="submit" class="col-lg-6 btn btn-primary">Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>